<% resources.each do |resource| %>
  <tr class="js-table-row"
    <% if show_action? :show, resource %>
      <%= %(tabindex=0 role=link data-url=#{polymorphic_path([namespace, resource])}) %>
    <% end %>
      >
      <% page.attributes_for(resource).each do |attribute| %>
        <td class="cell-data cell-data--<%= attribute.html_class %>">
          <% if show_action? :show, resource -%>
            <a href="<%= polymorphic_path([namespace, resource]) -%>"
               tabindex="-1"
               class="action-show"
               >
               <%= render_field attribute %>
            </a>
          <% else %>
            <%= render_field attribute %>
          <% end -%>
        </td>
      <% end %>

      <% if valid_action? :edit, page.resource_name %>
        <td><%= link_to(
          t("administrate.actions.edit"),
          [:edit, namespace, resource],
          class: "action-edit",
        ) if show_action? :edit, resource%></td>
      <% end %>

      <% if valid_action? :destroy, page.resource_name %>
        <td><%= link_to(
          t("administrate.actions.destroy"),
          [namespace, resource],
          class: "text-color-red",
          method: :delete,
          data: { confirm: t("administrate.actions.confirm") }
        ) if show_action? :destroy, resource %></td>
      <% end %>
  </tr>
<% end %>
